{% extends "public_site/base.html" %}
{% load static %}

{% block extra_css %}
    <!-- Blog-specific CSS - only loaded on blog pages -->
    <link rel="stylesheet" href="{% static 'css/garden-blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/garden-blog-streamfield.css' %}">
    <link rel="stylesheet" href="{% static 'css/garden-data-table.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog-post-garden-ui-fix.css' %}?v=1">
    <link rel="stylesheet" href="{% static 'css/blog-button-fixes.css' %}?v=2025-01-fix-visibility">
    <link rel="stylesheet" href="{% static 'css/blog-formatting-fixes.css' %}?v=2025-01-fix-purple-sections">
{% endblock %}
